* {
    transition: 1s;
}
body {
    background: #333;
    color: #aaa;
    overflow: hidden;
}
.fly {
    width: 100px;
    position: absolute;
}

.spot {
    width: 180px;
    position: absolute;
}

#header {
    background: #66CCCC;
    height: 116px;
    width: 1047px;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
}